* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
GENERAL STYLE
*/

.container {
  margin-right: auto;
  margin-left: auto;
  width: 850px;
  display: grid;
  grid-template-columns: 850px;
  justify-items: center;
  justify-content: center;
  gap: 32px;
}

.container-sub {
  margin-right: auto;
  margin-left: auto;
  width: 580px;
  display: grid;
  grid-template-columns: 580px;
  justify-items: left;
  /* justify-content: center; */
  gap: 12px;
}

.nav-bar {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  width: 850px;
  justify-content: space-between;
  /* align-items: center; */
  /* margin: auto; */
  padding: 32px;
  font-size: 18px;
}

.nav-bar-left {
  display: flex;
}

.nav-bar-right {
  display: flex;
  width: 360px;
  justify-content: space-between;
}

body {
  color: #495057;
  font-family: "Manrope", sans-serif;
}

h1 {
  margin-bottom: 12px;
  margin-top: 24px;
}

ol {
  padding: 50px;
}

ul {
  padding: 50px;
}

a:link {
  color: #adb5bd;
  text-decoration: none;
  font-weight: 700;
}

a:visited {
  color: #adb5bd;
}

a:hover,
a:active {
  color: #74b816;
  font-style: italic;
}
